blockquote {
  background: #eee;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  color:#888;
  display: block;
  text-align: right;
}

blockquote p:before {
  content: "\2014";
}

pre {
  padding-left:100px;
}

.attention, .information {
  border-radius: 10px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px;
}

.attention {
  background: #fa8;
}

.attention:before {
  content: '/!\\';
  font-size: 150%;
  text-decoration: underline;
}

.information {
  background: #aaf;
}

.information:before {
  content: 'i';
  background: #fff;
  border-radius: 100%;
  color: #00f;
  font-size: 150%;
  padding: 0 12px;
}

table {
  background: #444;
  margin: auto;
}

th, td {
  background: #fff;
  padding: 5px;
}

th {
  text-align: center;
}
