footer {
  background: #000;
  justify-content: space-between;
  color: #aaa;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  padding: 20px 50px 50px;
  position: absolute;
  width: 100%;
}

footer > div {
  border-left: 5px solid #aaa;
  margin: 0 20px 10px 0;
  padding-left: 5px;
}

footer > div:last-child {
  margin-right: 0;
}

footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
